<html>
    <head>
        <title>L|A</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Larionov.articles</a></h1>
        </div>

        <div>
            <h2><a href="">Как запустить Doom</a></h2>
            <p></p>
        </div>

        <div>
            <h2><a href="">Что если?</a></h2>
            <p></p>
        </div>
    </body>
</html>

{% for post in posts %}
    {{ post }}
{% endfor %}

<div>
    <h1><a href="/">Larionov posts</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}