<html>
    <head>
        <title>L|A</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Larionov.articles</a></h1>
        </div>

        <div>
            <h2><a href="">Как запустить Doom</a></h2>
            <p>Так вот, мы тоже делаем  и “инженерный” и “онлайн”. И с удобством для пользователя. Поэтому у нас для микроконтроллера, который этим всем рулит, специфичные требования, часто идущие вразрез с automotive требованиями. Тот же USB для связи с компом, интерфейс SD карты для записи логов.

Так же мы (команда RusEFI) любим GCC и не любим архитектуры с коммерческими/закрытыми компиляторами. Равно как не любим и микроконтроллеры с закрытой/NDA документацией.

Ну и больше половины нашей прошивки - это всякие плюшки связанные с настройкой ЭБУ, а не его прямыми обязанностями по управлению ДВС. Та же поддержка файловой системы для SD, драйвера интерфейса USB, протокола для связи с TunerStudio, куча осмысленных 

Российские производители автоэлектроники внедряют чипы общего назначения
До 2022 года на конвейеры отечественных автопроизводителей шли блоки управления на базе специализированных микроконтроллеров. Например от Infineon или STMicroelectronics - в таких чипах больше специализированной автомобильной периферии, полная документация на такие чипы не всегда доступна и банально бесплатного компилятора часто нет.

Во второй половине 2022 года два (оба?) российских производителя электронных блоков управления двигателем внутреннего сгорания начали поставлять на конвейеры решения на базе микроконтроллеров общего назначения с ядром ARM Cortex-M4. Это очень заинтересовало нас и мы начали охоту на эти блоки.

Первым (и пока единственным) у нас на столе оказался блок от компании СОАТЭ. СОАТЭ поставляет на конвейер УАЗа блок управления S105. На ранних серийных номерах в них использовался stm32f407, на более поздних мы видим Geehy apm32f407. Насколько нам известно, apm32f407 это функциональный аналог stm32f407. А stm32f407 это тот микроконтроллер, с которого начинался RusEFI!.</p>
        </div>

        <div>
            <h2><a href="">Что если?</a></h2>
            <p>МММММММММММММММММММММММММММММММММММММММММММММММММММММММ</p>
        </div>
    </body>
</html>